<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index: group 08 - section 02 - global</title>
</head>

<body>

<p>!!! Disclaimer: this is not an active page - this is a SFSU-class-project !!!</p>
<h1>Group 08 of section 02 (global)</h1>
<p>Get us to know!</p>
<form>
    <input type="button" value="AboutUs" onclick="window.location.href='views/TeamMembers.ejs'" />
</form>

</body>
</html>