<form [formgroup]="forgotPasswordForm" (ngsubmit)="doResetPassword()" class="box form-signin">
  <div (click)="closeForm()" class="close">X</div>
  <h3 class="form-signin-heading">Forgot Password</h3>
  <div class="error-login">{{errorMessage}}</div>
  <label for="username" class="sr-only">Email</label>
  <input id="username" type="email" placeholder="Email" required="" autofocus="" formcontrolname="email" class="form-control"/>
  <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-lg btn-mga btn-block">Reset password</button>
  <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> <div class="g-signin2" data-onsuccess="onSignIn"></div>-->
  <ul>
    <li><a (click)="showSignUp()" class="pointer">Create New Account</a></li>
    <li><a (click)="showLogIn()" class="pointer">Log In</a></li>
  </ul>
</form>
<div *ngif="loading" class="loading"><img src="../../assets/images/loading.jpg" alt=""/></div>