<!DOCTYPE html>
<html lang="en">
<head>
   <!-- <meta charset="UTF-8"> -->
    <title>index: group 08 - section 02 - global</title>
    <link rel="stylesheet"  href="stylesheets/style.css" />

</head>

<body>
<p>!!! Disclaimer: this is not an active page - this is a SFSU-class-project !!!</p>
    <h1>Group 08 of section 02 (global)</h1>
        <p>Get us to know!</p>

<form>
    <input type="button" value="AboutUs" onclick="window.location.href='/fa17g08/TeamMembers'" />
    <button type="button" onclick=>Search</button>
</form>

<header>
<h1>!!!Disclaimer: this is not an active page - this is a SFSU-class-project !!!</h1>
<h1>INDEX</h1>

<div class ="main">
<form>
</form>
</div>

<section class="front">
<ul>
<li class="dropdown">
<a href="javascript:void(0)" class="dropbtn">BUY</a>
<div class="dropdown-content">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div>
</li>
<li class="dropdown">
<a href="javascript:void(0)" class="dropbtn">SELL</a>
<div class="dropdown-content">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div>
</li>
<li class="dropdown">
<a href="javascript:void(0)" class="dropbtn">AGENT</a>
<div class="dropdown-content">
<a href="#">Link 1</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div>
</li>
<li class="dropdown">
<a href="javascript:void(0)" class="dropbtn">PROPERTY</a>
<div class="dropdown-content">
<a href="/fa17g08/propertyPage">BUY</a>
<a href="#">Link 2</a>
<a href="#">Link 3</a>
</div>
</li>
</ul>
</section>
</header>



</body>


</html>
