<!DOCTYPE html>
<html lang="en">
<head>
<!-- <meta charset="UTF-8"> -->
<title>index: group 08 - section 02 - global</title>
link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/bootstrap-reboot.css', type='text/css')
<script type="text/javascript" src="/javascript/queries.js"></script>
</head>

<body>
<header>
<a> <center> Disclaimer: this is not an active page - this is a SFSU-class-project !!! Group 08 of section 02 (global) </center> </a>
<h1 class = "titleCSRA"> <center> CAL STATE REAL ESTATE </center> </h1>


<a id= "button">
<input  type="button" class="button-index" value="ABOUT US" onclick="window.location.href='/fa17g08/TeamMembers'" />
<input  type="button" class="button-index" value="GUEST" onclick="alert('WE DONT HAVE ANYTHING YOU ARE LOOKING FOR')" />
// Falco, insert dashboard
<input  type="button" class="button-index" value="DASHBOARD" onclick="window.location.href='/fa17g08/userDashboard'" />
// Falco, insert sighnUp
<input  type="button" class="button-index" value="Sign Up" onclick="window.location.href='/fa17g08/signUp'" />
<input  type="button" class="button-log" value="LOG IN" onclick="alert('YOU CANT LOG IN NOW! SORRY!')" />
</a>

<form>
<input type="text" name="search" placeholder="Search.." onclick=query()>
<button type="button" class="btn btn-secondary" onclick=>Search</button>
</form>

<ul class="nav justify-content-center">

<li class="nav-item">
<a type= "navBar" class="nav-link active" href="/fa17g08">INDEX</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">BUY</a>
</li>

<li class="nav-item">
<a class="nav-link" href="#">SELL</a>
</li>

<li class="nav-item">
<a class="nav-link" href="/fa17g08/propertyPage">PROPERTY PAGE</a>
</li>
</ul>
</header>

<section class="intro">
<row>
<div class="left">

<section class="halfUpper">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100" src='/pics/pic1.jpg' alt="First slide">
</div>

<div class="carousel-item">
<img class="d-block w-100" src='/pics/pic2.jpg' alt="Second slide">
</div>

<div class="carousel-item">
<img class="d-block w-100" src='/pics/pic3.jpg' alt="Third slide">
</div>
</div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>

<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</section>
<section class="halfLower">

</section>

</div>

<div class="right">
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRmPvzqKD739EYqrp0WCnqjrdBaxGT_fM&callback=initMap"> </script>
</div>
</row>
</section>

</body>
</html>

//GOOGLE MAP KEY= AIzaSyBRmPvzqKD739EYqrp0WCnqjrdBaxGT_fM
