<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class =" ">
        <form>
            <input type="text" name="search" placeholder="Search.." onclick=query()>
        </form>
</div>

<section class="intro">
    <row>
        <div class="left">
<p> PROPERTY PAGE </p>
</div>

<div class="right">
<p> GOOGLE MAP </p>
</div>
</row>
</section>

</body>
</html>
