<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>

<body>

<div class =" ">
        <form>
            <input type="text" name="search" placeholder="Search..">
        </form>
    </div>

<section class="intro">
    <row>
        <div class="left">
<p> PROPERTY PAGE </p>
</div>

<div class="right">
<p> GOOGLE MAP </p>
</div>
</row>
</section>

</body>
</html>