<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team-Members</title>
</head>

<body>

<p>!!! Disclaimer: this is not an active page - this is a SFSU-class-project !!!</p>
<h1>Team-Members of Group 08 - global - Section 2</h1>
<p>Team Lead: Falco Becker</p>
<form>
    <input type="button" value="Falco's info" onclick="window.location.href='team-member-Falco-Becker.ejs'" />
</form>

<p>2. Member: Richard Robinson</p>
<form>
    <input type="button" value="Richard's info" onclick="window.location.href='team-member-Richard-Robinson.ejs'" />
</form>

<p>3. Member: Karan Gupta</p>
<form>
    <input type="button" value="Karan's info" onclick="window.location.href='team-member-Karan-Gupta.ejs'" />
</form>

<p>4. Member: Vidit Joy Manglan</p>
<form>
    <input type="button" value="Vidit's info" onclick="window.location.href='team-member-Vidit-Joy-Manglani.ejs'" />
</form>


</body>
</html>
