body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
html{
  height:100%;
}
body{
  height:100%;
}
.intro{
  height:100%;
}
.front{
  height: 30%;
}
.main{
  align-items: center;
}
.title{
align-items: center;
}

.titleCSRA{
font-family: 'Roboto', serif;

}
.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 80%;
  width: 50%;
  color : #FFF;
  float: left;
}
.right{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 80%;
  width:50%;
  color : #3d231b;
}
img {
  max-width: 100%;
  max-height: 100%;
}
input {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}
img{
  padding-top: 50px;
  width:400px;
}

#button {
  float: right;
}

.button-index{
  background-color: #6c757d;
  width: 100px;
  font-size: 13px;
  text-align: center;
  padding: inherit;
  height: 40px;
  color: white;
}
.button-log{
  background-color: #FBCC40;
  width: 100px;
  font-size: 13px;
  text-align: center;
  padding: inherit;
  height: 40px;
  color: white;
}

#map {
  height: 100%;
  width: 100%;
}

.tmAlign{
 font-size: 30px;
  padding-bottom: 50px;
  padding-top: 10px;
  font-family: "Comic-Sans-MS";
}

.leftPP{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#3d231b;
  height : 50%;
  width: 60%;
  color : #FFF;
  float: left;
}
.rightPP{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:#FFF;
  height : 50%;
  width:30%;
  color : #3d231b;
}
.containerU{
  background-color: #1c7430;
  height:150px;
  width:200px;
  padding: 10px;

}
.containerU1{
  background-color: #0c5460;
  height:150px;
  width:200px;
  padding: 10px;

}
.containerD{
  background-color: #6f42c1;
  height:150px;
  width:200px;

}
.containerD1{
  background-color: #00B7FF;
  height:150px;
  width:200px;

}