<% include ../header-footer/header.ejs %>
    <div class="container">
        <div class="row">
            <h1>Hi, I am Tinubu Akolade. <span style="color:#165e99">Please, call me Kola.</span> </h1>
            <hr>
            <div class="row">
                <div class="col-md-4"><img class="img-thumbnail" width="300" 
                    src="/images/akolade.jpg"></div>
                <div class="col-md-8" style="font-size:1.3em; line-spacing:20px;">
                    <p>
                        I am a Full-Stack developer, I have over 5 years experience in web based applications development. I have worked as a freelancer and in variety of technology firms, manufacturing company, banking industry and I have promoted image brands and personnel
                        on social media.
                    </p>
                    <p>
                        I have a unique combination of business and high-tech experience; I have established a strong team of very dedicated people who love to create computer applications for solving social socio-economic and political problems. <br><br>
                        <a href="https://www.aatinubu.com" target="_blank">Know more about me on my website.</a>
                    </p>
                </div>
            </div>


            <br>
            <br>
            <br>

            <hr>
        </div>
    </div>
    <% include ../header-footer/footer.ejs %>