<% include ../header-footer/header.ejs %>
    <div class="banner2">
        <div class="wrap container">
            <h3>Features</h3>
            <div class="clear"></div>
        </div>
    </div>
    <div class="container">

        <div class="row featureList">
            <ul>
                <% for (var i = 0; i < features.length; i++){ %>
                    <li>
                        <div class="col-md-3">
                            <div class="feature" style="background: <%= features[i].color %>">
                                <div class="feature-upper">
                                    <img src="<%= features[i].icon %>">

                                    <%= features[i].feature %>

                                </div>
                                <div class="feature-lower">
                                    <p>
                                        <%= features[i].description %>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </li>
                    <%} %>
            </ul>
        </div>
    </div>

    <% include ../header-footer/footer.ejs %>