<% include ../header-footer/header.ejs %>

<div class="container">
    <div class="row">
        <h1>Hello, I am S. Noor Ali Jafri</h1>
        <hr>
        <img class="img-thumbnail" width="300" 
        src="/images/noor.jpg">
        <br>
        <br>
        <br>
        <div class="col-md-5">
            <p>
                    I am a former  DevOps Engineer at Cloudways. I am currently learning the art of
                    creating crazy Web APIs with Python and PHP. I also love working with Ansible to
                    orchestrate & automate cloud servers. I have also woked with Raspberry Pi and Arduino
                    to make gadgets for myself. A DIY drone enthusiast and a passionate engineer.
                    I am a curious programmer and love digging head into any crazy science and music.
                    I spend most of my time connecting dots, innovating and doodling little machines in my diary.
                    You can find me with my gaming console whenever I am not contemplating.

                    Know more about me on my website: <a href="https://www.noorjafri.com">Here!</a>
            </p>
        </div>
        <hr>
    </div>
</div>


<% include ../header-footer/footer.ejs %>