<% include ../header-footer/header.ejs %>

<div class="container">
	<div class="row">
		<h1>Hello from Prithvi Raj Moorani :)</h1>	
		<hr>	
		<div class="row">
                <div class="col-md-4"><img class="img-thumbnail" width="300" 
                    src="/images/raj.jpg"></div>
                <div class="col-md-8" style="font-size:1.3em; line-spacing:20px;">
                    <p>
                        A Full-Stack developer with 2 years experience in Web based application development. Worked at World Bank and was responsible for writing code and mainting the current code for deployed applications. Developed a software for a whole district in Pakistan which accommodation more than 45,000 users for their online activities. Worked on various freelance projects during my Bachelors and used Facebook, Twitter, Klout &amp; Instagram APIs. 
                    </p>
                </div>
            </div>
		<br>
		<hr>		
	</div>	
</div>


<% include ../header-footer/footer.ejs %>
