<% include ../header-footer/header.ejs %>

<div class="container">
	<div class="row">
		<h1>This is a landing page from Muhammad Taimoor</h1>	
		<hr>	
		<img class="img-thumbnail" width="300" 
		src="/images/taimoor.jpg">
		<br>
		<hr>
	</div>	
</div>


<% include ../header-footer/footer.ejs %>