<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>About GHAP</h2>
        <p>CAL STATE REAL ESTATE is focused on bringing real estate companies, potential and old buyers to the same platform that is not limited by time and location.</p>
        <p>SFSU and HS-FULDA global teams (Group 8 and 21 respectively) are at the forefront of pioneering satisfying and results-driven housing solutions through internet technologies.</p>
      </div>
      <div class="col-md-4">
        <h2> </h2>
        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=hochschule fulda&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
      <div class="col-md-4">
        <h2>Contact Info</h2>
        <p><i class="fa fa-map-marker"></i> Leipziger Strasse 123 36037 Fulda</p>
        <div class="clear"></div>
        <p><i class="fa fa-phone"></i> Phone: +49 000 000 0000</p>
        <div class="clear"></div>
        <p><i class="fa fa-envelope"></i> Email: <a href="#">info@example.com</a></p>
      </div>
    </div>
  </div>
  <div class="row footer-bar-wrapper">
    <div class="footer-bar">
      <div class="col-md-4">© 2017 <a href="/">SFSU and HS-FULDA global teams (Group 8 and 21 respectively)</a>. All Rights Reserved</div>
      <div class="col-md-8 footer-links">
        <ul>
          <li><a href="/fa17g08">Home</a></li>
          <li><a href="/fa17g08/members">About Us</a></li>
          <li><a href="/fa17g08/properties">Properties</a></li>
          <li><a href="/fa17g08/sell-home">Sell a Home</a></li>
          <li><a href="/fa17g08/buy-home">Buy / Rent a Home</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed-->
<script src="/fa17g21/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>