//doctype html
//html(lang='en')
//    head
//        // <meta charset="UTF-8">
//        title index: group 08 - section 02 - global
//        link(rel='stylesheet', href='stylesheets/style.css', type='text/css')
//        link(rel='stylesheet', href='stylesheets/bootstrap.css', type='text/css')
//        link(rel='stylesheet', href='stylesheets/bootstrap-grid.css', type='text/css')
//        link(rel='stylesheet', href='stylesheets/bootstrap-reboot.css', type='text/css')
//        script(type='text/javascript', src='javascript/queries.js')
//    body
//        header
//            a
//                center
//                    | Disclaimer: this is not an active page - this is a SFSU-class-project !!! Group 08 of section 02 (global)
//            h1.titleCSRA
//                center  CAL STATE REAL ESTATE
//            a#button
//                input.button-index(type='button', value='ABOUT US', onclick="window.location.href='/fa17g08/TeamMembers'")
//                input.button-index(type='button', value='GUEST', onclick="alert('WE DONT HAVE ANYTHING YOU ARE LOOKING FOR')")
//                input.button-log(type='button', value='LOG IN', onclick="alert('YOU CANT LOG IN NOW! SORRY!')")
//            form
//                input(type='text', name='search', placeholder='Search..', onclick='query()')
//                button.btn.btn-secondary(type='button', onclick='') Search
//            ul.nav.justify-content-center
//                li.nav-item
//                    a.nav-link.active(type='navBar', href='/fa17g08') INDEX
//                li.nav-item
//                    a.nav-link(href='#') BUY
//                li.nav-item
//                    a.nav-link(href='#') SELL
//                li.nav-item
//                    a.nav-link(href='/fa17g08/propertyPage') PROPERTY PAGE
//        center
//            h1 Team Lead: Falco Becker
//            p First Name: Falco
//            p Last Name: Becker
//            p E-Mail: fbecker@mail.sfsu.edu
//            p Position: Team Lead
//            p Semster: Seven
//            p Group 08 - global - Section 2
//            a(href='https://www.facebook.com/falco.becker') Facebook
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Member: Falco Becker</title>
link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/bootstrap.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/bootstrap-grid.css', type='text/css')
link(rel='stylesheet', href='/stylesheets/bootstrap-reboot.css', type='text/css')
<script type="text/javascript" src="/javascript/queries.js"></script>
|      </head>
|
|      <body>
|
|      <header>
|      <a> <center> Disclaimer: this is not an active page - this is a SFSU-class-project !!! Group 08 of section 02 (global) </center> </a>
|      <h1 class = "titleCSRA"> <center> CAL STATE REAL ESTATE </center> </h1>
|
|
|      <a id= "button">
|      <input  type="button" class="button-index" value="ABOUT US" onclick="window.location.href='/fa17g08/TeamMembers'" />
|      <input  type="button" class="button-index" value="GUEST" onclick="alert('WE DONT HAVE ANYTHING YOU ARE LOOKING FOR')" />
|      <input  type="button" class="button-log" value="LOG IN" onclick="alert('YOU CANT LOG IN NOW! SORRY!')" />
|      </a>
|
|      <form>
|      <input type="text" name="search" placeholder="Search.." onclick=query()>
|      <button type="button" class="btn btn-secondary" onclick=>Search</button>
|      </form>
|
|      <ul class="nav justify-content-center">
|
|      <li class="nav-item">
|      <a type= "navBar" class="nav-link active" href="/fa17g08">INDEX</a>
|      </li>
|
|      <li class="nav-item">
|      <a class="nav-link" href="#">BUY</a>
|      </li>
|
|      <li class="nav-item">
|      <a class="nav-link" href="#">SELL</a>
|      </li>
|
|      <li class="nav-item">
|      <a class="nav-link" href="/fa17g08/propertyPage">PROPERTY PAGE</a>
|      </li>
|      </ul>
|      </header>
|      <center>
<h1>Team Lead: Falco Becker</h1>
<p>First Name: Falco</p>
<p>Last Name: Becker</p>
<p>E-Mail: fbecker@mail.sfsu.edu</p>
<p>Position: Team Lead</p>
<p>Semster: Seven</p>
<p>Group 08 - global - Section 2</p>
<a href="https://www.facebook.com/falco.becker">Facebook</a>
</center>

</body>
</html>

