<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member: Falco Becker</title>
</head>

<body>

<p>!!! Disclaimer: this is not an active page - this is a SFSU-class-project !!!</p>
<h1>Member: Falco Becker</h1>
<p>First Name: Falco</p>
<p>Last Name: Becker</p>
<p>E-Mail: fbecker@mail.sfsu.edu</p>
<p>Position: Team Lead</p>
<p>Semster: Seven</p>
<p>Group 08 - global - Section 2</p>

<a href="https://www.facebook.com/falco.becker">Facebook</a>

</body>
</html>