<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member: ViditJoyManglani</title>
</head>
<body>

<p>!!! Disclaimer: this is not an active page - this is a SFSU-class-project !!!</p>
<h1>Member: Vidit Manglani</h1>
<p>First Name: Vidit</p>
<p>Last Name: Manglani</p>
<p>E-Mail: viditjoy@gmail.com</p>
<p>Position: Team Member</p>
<p>Semster: Seven</p>
<p>Group 08 - global - Section 2</p>

</body>
</html>
