<div class="banner">
  <div class="col-md-12 info">
    <h1>GDSG Housing Application (GHAP)</h1>
    <h3>Find Your Conducive Home and The Right Neighborhood</h3>
    <form>
      <input type="text" name="house" placeholder="Find house information" class="search-area"/>
      <button class="btn btn-danger">Search</button>
    </form>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="jumbotron">
      <div class="container">
        <h2>Welcome to GDSD G4 Webpage!</h2>
        <p>This page has been designed using Node.js v8.7.0, Express.js v4.16.2, EJS Templating Engine v2.5.7, Bootstrap v3.3.7 & MySQL Database v2.15.0.</p>
        <p><a href="/fa17g21/members" role="button" class="btn btn-success btn-lg">Get to know our members! »</a></p>
      </div>
    </div>
  </div>
</div>